@media (max-width: 600px) {
	.projects__item,
	.projects__item figure {
		flex-direction: column;
	}

	.projects__item figure {
		display: flex;
		align-items: center;
	}

	.projects__item a {
		display: flex;
		justify-content: center;
	}

	.projects__description {
		text-align: center;
		width: 100%;
	}

	.projects__img {
		width: 100%;
	}

	#particles-js {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
	}

	.navigation__container {
		gap: 0px;
		backdrop-filter: blur(100px);
		background: #ffffff1a;
	}

	.navigation {
		animation: none;
	}

	.hero {
		margin: 50px auto;
	}

	.footer_container {
		flex-direction: column;
		gap: 20px;
	}
	.footer__copyright,
	.footer__contact {
		width: 100%;
		justify-content: center;
	}
}

@media (max-width: 400px) {
	.hero {
		padding: 30px;
		margin: 50px auto;
	}
}

@media (max-width: 768px) and (min-width: 600px) {
	.hero {
		padding: 40px;
		margin: 275px auto;
	}

	.projects__sub-container {
		padding-left: 0px;
	}

	.footer__icons {
		width: 30px;
		height: 30px;
	}
}

@media ((max-width: 1280px) and (min-width: 769px)) {
	.hero {
		margin: 200px auto;
	}

	.projects__container {
		margin-top: 200px;
	}

	.projects__item,
	.projects__item figure {
		flex-direction: column;
	}

	.projects__item figure {
		display: flex;
		align-items: center;
	}

	.projects__item a {
		display: flex;
		justify-content: center;
	}

	.projects__img {
		width: 90%;
	}

	.projects__description {
		text-align: center;
		width: 100%;
	}
}

@media ((max-width: 1920px) and (min-width: 1280px)) {
	.hero {
		padding: 40px auto;
		margin: 20px auto;
	}

	.projects__container {
		margin-top: 210px;
	}
}
