/* Normal */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 100 900;
    src: url('/assets/fonts/Montserrat.ttf');
}

/* Italic */
@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 100 900;
    src: url('/assets/fonts/Montserrat-Italic.ttf');
}
