@import 'tailwindcss';

:root {
    --first-font: 'Raleway', sans-serif;
    --second-font: 'Nunito', sans-serif;

    --primary-color: #b292ff;
    --nav-bg-color: #211f23;
    --first-bg-color: #0c0c0d;
    --second-bg-color: #131313;
    --third-bg-color: #272727;
    --first-font-color: #ffffff;
    --second-font-color: #b292ff;
    --third-font-color: #c1c1c1;
    --border-color: #303030;

    --modal-bg-color: #00000080;
}

@theme {
    --font-first-font: var(--first-font);
    --font-second-font: var(--second-font);

    --color-primary-color: var(--primary-color);
    --color-nav-bg-color: var(--nav-bg-color);
    --color-first-bg-color: var(--first-bg-color);
    --color-second-bg-color: var(--second-bg-color);
    --color-third-bg-color: var(--third-bg-color);
    --color-first-font-color: var(--first-font-color);
    --color-second-font-color: var(--second-font-color);
    --color-third-font-color: var(--third-font-color);
    --color-border-color: var(--border-color);
    --color-modal-bg-color: var(--modal-bg-color);
}

.loader {
    width: 40px;
    aspect-ratio: 1;
    position: relative;
    margin: auto;
}

.loader:before,
.loader:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    margin: -8px 0 0 -8px;
    width: 16px;
    aspect-ratio: 1;
    background: var(--primary-color);
    animation:
        l2-1 2s infinite,
        l2-2 1s infinite;
}
.loader:after {
    background: white;
    animation-delay: -1s, 0s;
}
@keyframes l2-1 {
    0% {
        top: 0;
        left: 0;
    }
    25% {
        top: 100%;
        left: 0;
    }
    50% {
        top: 100%;
        left: 100%;
    }
    75% {
        top: 0;
        left: 100%;
    }
    100% {
        top: 0;
        left: 0;
    }
}
@keyframes l2-2 {
    40%,
    50% {
        transform: rotate(0.25turn) scale(0.5);
    }
    100% {
        transform: rotate(0.5turn) scale(1);
    }
}
