@use '../base/variables' as v;
@use '../base/mixins' as m;

.hero {
    @include m.container;

    height: 100vh;
    padding-top: 60%;
    color: v.$white;

    @include m.tablet {
        padding-top: 50%;
    }

    @include m.desktop {
        padding-top: 20%;
    }

    @include m.desktopXL {
        padding-top: 30%;

    }
    &__title {
        margin-bottom: 1rem;
        font-size: 6rem;
    }

    &__subtitle {
        font-size: 2rem;
        font-weight: 300;
    }

    &__links__container {
        @include m.grid(2, 1rem);

        @include m.tablet {
            width: 70%;
        }
        @include m.desktop {
            width: 30%;
        }

        & a:hover {
            color: v.$white;
            background-color: #ffffff99;
        }
    }

    &__links {
        display: flex;
        align-items: center;
        text-align: center;
        gap: 0.5rem;
        font-size: 2rem;
        padding: 0.5rem;
        border: solid 1px v.$white;
        border-radius: 20px;
        color: v.$white;
        background-color: transparent;
        transition: 0.1s;

        @include m.tablet {
            padding: 1rem;
        }
    }

    &__icons {
        fill: v.$white;
        stroke: v.$white;
        width: 40px;
        height: 40px;
    }
}
