@forward 'fonts';

// Colors

$white: #ffffff;
$black: #000000;
$DarkGrey: #111111;
$BlackWithTransparency: #00000094;
$WhiteSemiTransparent: #ffffff99;

//Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1200px;
$desktopXL: 1400px;

//font Montserrat

// Tipografy
$primary-font: 'Montserrat', sans-serif;
